<section>
    <div class="project-container" (mouseenter)="showDescription(0)" (mouseleave)="hideDescription(0)">
        <div class="project-image-container" #aboutmeLeft>
            <div class="number-container-small-screen">
                03/04
            </div>
            <img class="project-image" src="/assets/img/portfolio.png">
            <img class="arrow-down" src="/assets/img/arrow-1.png">
        </div>
        <div [ngClass]="{'show': isDescriptionVisible(0)}" class="project-description">
            <div class="project-number">03/04</div>
            <h3 class="project-title">Portfolio Website</h3>
            <span class="project-tools"> Angular | TypeScript | HTML | SCSS </span>
            <span class="project-short-description">
                My personal website presenting various programming projects. Get a first impression of me and my skills.
            </span>
            <div class="link-container">
                <a href="#" class="link">
                    Live
                </a>
                <a href="https://github.com/Dennis16699/portfolio" class="link" target="_blank">
                    Github
                </a>
            </div>
        </div>
    </div>
</section>
