<footer>
    <div class="footer-container">
        <div style="display: flex; flex-direction: column;">
            <img src="/assets/img/Group (1).png">
            <span>
                © Dennis Ochs 2024
            </span>
        </div>
        <div class="icons">
            <img src="/assets/img/Github button s3.png">
            <img src="/assets/img/Email button s3.png">
            <img src="/assets/img/Linkedin button s3.png">
        </div>
    </div>
    <div class="legal-notice">
        <span>Legal notice</span>
    </div>
</footer>