footer {
    background-color: black;
    font-family: 'Overpass';
    padding: 0px 200px;
    height: 150px;
    margin-top: -1px;

    @media (max-width: 900px) {
        padding: 0px 30px;
    }
}

.footer-container {
    display: flex;
    justify-content: space-between;



    span {
        color: #FFFCF3;
        font-size: 23px;
        font-weight: 400;
        cursor: default;

        @media (max-width: 900px) {
            font-size: 20px;
        }
    }

    img {
        margin-top: 5px;
        width: 67px;
        height: 33px;
    }
}

.icons {
    display: flex;
    gap: 20px;

    @media (max-width: 900px) {
        gap: 10px;
    }

    @media (max-width: 400px) {
        gap: 5px;
    }

    img {
        width: 40px;
        height: 40px;
        cursor: pointer;

        &:hover {
            transform: translateY(-9px);
        }
    }
}

.legal-notice {
    color: #FFFCF3;
    display: flex;
    justify-content: end;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;

    @media (max-width: 900px) {
        font-size: 18px;
    }

    &:hover {
        font-weight: 600;
    }
}