footer {
    background-color: black;
    font-family: 'Overpass';
    padding: 0px 200px;
    height: 150px;
    margin-top: -1px;
    

    @media (max-width: 900px) {
        padding: 0px 30px;
    }
    @media (max-width: 450px) {
       height: 22vh;
       padding: 0;
    }
}

.footer-container {
    display: flex;
    justify-content: space-between;

    @media (max-width: 450px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: black;
        margin: 0;
    }


    span {
        color: #FFFCF3;
        font-size: 23px;
        font-weight: 400;
        cursor: default;

        @media (max-width: 900px) {
            font-size: 20px;
        }
    }

    img {
        margin-top: 5px;
        width: 67px;
        height: 33px;
    }
}

.icons {
    display: flex;
    gap: 20px;

    @media (max-width: 900px) {
        gap: 10px;
    }

    @media (max-width: 450px) {
        margin-left: -90px;
    }

    @media (max-width: 400px) {
        gap: 5px;
    }

    img {
        width: 40px;
        height: 40px;
        cursor: pointer;

        &:hover {
            transform: translateY(-9px);
        }
    }
}

.legal-notice {
    color: #FFFCF3;
    display: flex;
    justify-content: end;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;

    @media (max-width: 900px) {
        font-size: 18px;
    }

    @media (max-width: 450px) {
        margin-right: 15px;
    }

    &:hover {
        font-weight: 600;
    }
}


/* Logo */
.logo-header{
    display: flex;
    border: 3px solid white;
    padding: 4px;
    border-radius: 10px;
    background-color: #00BC8F;
    margin-right: 111px;
  }
  
  .logo-container {
    background: linear-gradient(black, black) !important;
    background-clip: text;
    padding: 0px 8px;
    -webkit-background-clip: text;
    border: 3px solid white;
    border-radius: 10px;
    display: flex;
  }
  
  .logo {
    font-family: Arial, sans-serif;
    font-size: 45px;
    font-weight: bold;
    color: black; /* Textfarbe */
    text-transform: uppercase;
    -webkit-text-stroke: 2px white;
    color: #00BC8F;
    background-color: black;

    @media (max-width: 900px) {
        font-size: 38px;
    }
  }
  /* Logo */