section {
  display: flex;

  h2 {
    font-size: 78px;
    font-weight: 800;
    font-family: "Syne", sans-serif;
    transition: 0.2s ease-in-out;

    &:hover {
      color: #00BC8F;
      cursor: default;
    }
  }
}

.about-me {
  text-align: left;
  padding: 0px 230px 0px 200px;
  font-size: 23px;
  font-family: "Overpass", sans-serif;
  cursor: default;
}

.talk-btn {
  display: flex;
  justify-content: center;

  a {
    text-decoration: none;
    color: #000000;
    font-size: 23px;
    font-weight: 400;
    border: 4px solid #000000;
    padding: 20px 50px 20px 50px;
    margin-top: 50px;
    transition: 0.2s ease-in-out;

    &:hover {
      font-weight: 700;
      padding-left: 60px;
      padding-right: 60px;
    }
  }
}

.about-me-photo {
  padding: 200px 200px 30px 0px;
}

.arrow-left {
  display: flex;
  justify-content: flex-end;
  padding-right: 350px;

  img {
    width: 200px;
  }
}