<section>
    <div class="about-me">
        <h2>About me</h2>

        <p>
            Hello! I'm Dennis, an enthusiastic frontend developer. Having the opportunity to create something that
            directly appears on the screen while coding continues to fascinate me to this day. My passion for creativity
            and being involved in the process of creating projects has allowed me to realize countless projects. I've
            had the opportunity to learn from experienced developers, to develop myself further and to program as part
            of a team.
            <br>
            <br>
            I invite you to explore my portfolio and I look forward to getting to know you better. Together we can
            achieve great things.
        </p>
        <div class="talk-btn">
            <a href="">Let's talk</a>
        </div>
    </div>
    <div class="about-me-photo">
        <img src="/assets/img/dennis-ochs.jpg">
    </div>
</section>

<div class="arrow-left">
    <img src="/assets/img/Group 3.png">
</div>
<app-my-skills></app-my-skills>