<section id="about-me" class="about-me-page">
    <div class="about-me">
        <h2>About me</h2>

        <p>
            I am a highly motivated, German-speaking Junior Frontend Developer. I focus on careful planning, clean code
            and thorough documentation to ensure high-quality work. Teamwork and a strong work ethic come naturally to
            me. The ability to quickly learn new tasks and find solutions to problems complements my profile. If you
            think I'd be a good match for your projects, contact me!
        </p>
        <div class="talk-btn">
            <a href="#contact">Let's talk</a>
        </div>
    </div>
    <div class="about-me-photo">
        <img src="/assets/img/dennis-ochs - Kopie.jpg">
    </div>
</section>

<div class="arrow-left">
    <img src="/assets/img/Group 3.png">
</div>
<app-my-skills></app-my-skills>