<section>
    <div class="project-container" (mouseenter)="showDescription(0)" (mouseleave)="hideDescription(0)">
        <div class="project-image-container" >
            <div class="number-container-small-screen">
                02/03
            </div>
            <img class="project-image" src="/assets/img/el-pollo-loco.png">
            <img class="arrow-down" src="/assets/img/arrow-1.png">
        </div>
        <div [ngClass]="{'show': isDescriptionVisible(0)}" class="project-description">
            <div class="project-number">02/03</div>
            <h3 class="project-title">Join</h3>
            <span class="project-tools"> Javascript | HTML | CSS </span>
            <span class="project-short-description">
                Jump, run and throw game based on object-oriented approach. Help Pepe to find coins and tabasco salsa to fight against the crazy hen.
            </span>
            <div class="link-container">
                <a href="http://dennis-ochs.developerakademie.net/index.html" class="link" target="_blank">
                    Live
                </a>
                <a href="https://github.com/Dennis16699/Join" class="link" target="_blank">
                    Github
                </a>
            </div>
        </div>
    </div>
</section>
