nav{
    height: calc(100vh - 149px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.nav-bar, div{
    font-family: 'Syne';
    font-size: 96px;
    font-weight: 700;
    margin: 40px;
    
    a{
        text-decoration: none;
        color: black;
       
    }
}


    

