<nav>
    <div class="nav-bar">
        <div>
            <a href="#about-me">About me</a>
        </div>
        <div>
            <a href="#my-skills">My skills</a>
        </div>
        <div>
            <a href="#portfolio">Portfolio</a>
        </div>
    </div>
</nav>

<footer>
    <div class="footer-container">
        <div style="display: flex; flex-direction: column;">
            <h3>Say Hi !</h3>
            <span>
                contact&#64;dennis-ochs.com
            </span>
        </div>
    </div>
    <div>
        <div class="icons">
            <a target="_blank" href="https://github.com/Dennis16699"><img src="/assets/img/Github button s3.png"></a>
            <a href="mailto: contact&#64;dennis-ochs.com"><img src="/assets/img/Email button s3.png"></a>
            <a target="_blank" href="http://www.linkedin.com/in/dennis-ochs"><img src="/assets/img/Linkedin button s3.png"></a>
        </div>
        <div class="legal-notice">
            <span (click)="legalNotice($event)">Legal notice</span>
        </div>
    </div>
</footer>