
<section>
    <h1>Frontend <br> Developer</h1>
    <div class="main-name">
        <img src="/assets/img/Vector 11.png">
        <span>
            Dennis Ochs
        </span>
    </div>
    <div class="container">
        <div class="email-container">
            <a href="#">Dennisochs17&#64;gmail.com</a>
        </div>
        <div>
            <a style="margin-bottom: -200px; margin-top: 70px;" href="#">
                <img src="/assets/img/scroll-down.png">
                <span style="margin-top: 10px;">Scroll <br> Down</span>
            </a>
        </div>
    </div>
</section>
<app-about-me></app-about-me>