<main>
    <div>
        <h2>Impressum</h2>
        <p>
            <span>Angaben gemäß § 5 TMG</span> <br>
            Dennis Ochs <br>
            Alte Bundesstarße 3 <br>
            49179 Ostercappeln
        </p>

        <p>
            <span>Kontakt</span><br>
            Telefon: 0171 9311994<br>
            E-Mail: Dennisochs17&#64;gmail.com
        </p>

       <p> Quelle: <a target="_blank" href="https://www.e-recht24.de/">e-recht24.de</a></p>
    </div>
</main>
<app-footer></app-footer>