<section id="my-skills">
    <div class="my-skills">
        <div class="my-skills-h3">
            <span>My skills</span>
        </div>
        <div class="my-skills-box">
            <div class="skills">
                <img src="/assets/img/angular.png">
                <span>Angular</span>
            </div>
            <div class="skills">
                <img src="/assets/img/typescript.png">
                <span>Typescript</span>
            </div>
            <div class="skills">
                <img src="/assets/img/javascript.png">
                <span>JavaScript</span>
            </div>
            <div class="skills">
                <img src="/assets/img/html.png">
                <span>HTML</span>
            </div>
            <div class="skills">
                <img src="/assets/img/css.png">
                <span>CSS</span>
            </div>
            <div class="skills">
                <img src="/assets/img/firebase.png">
                <span>Firebase</span>
            </div>
            <div class="skills">
                <img src="/assets/img/git.png">
                <span>Git</span>
            </div>
            <div class="skills">
                <img src="/assets/img/scrum.png">
                <span>Scrum</span>
            </div>
            <div class="skills">
                <img src="/assets/img/api.png">
                <span>Rest-Api</span>
            </div>
            <div class="skills">
                <img src="/assets/img/materialdesign.png">
                <span>Material<br>design</span>
            </div>
        </div>
    </div>

    <div class="arrow-right">
        <img src="/assets/img/Frame 3.png" >
    </div>
</section>
<app-portfolio></app-portfolio>
<app-project-join></app-project-join>
<app-project-el-pollo-loco></app-project-el-pollo-loco>
<app-project-portfolio></app-project-portfolio>
<app-project-pokedex></app-project-pokedex>
<app-contact-formular></app-contact-formular>
<app-footer></app-footer>