section {
    margin-top: 150px;
    margin-bottom: 150px;
    scroll-margin-top: 200px;
    padding: 0px 200px;

    @media (max-width: 900px) {
        padding: 0px 30px;
    }
}

.my-skills {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    
    border: solid 4px black;

    
}

.my-skills-h3 {
    
    font-family: "Syne", sans-serif;
    font-size: 78px;
    font-weight: 800;
    margin-top: -50px;
    padding: 0px 30px;
    background-color: #fffcf3;
    transition: 0.2s ease-in-out;

    &:hover {
        color: #00BC8F;
        cursor: default;
    }

    @media (max-width: 1100px) {
        font-size: 48px;
        margin-top: -30px;
    }

    @media (max-width: 500px) {
        font-size: 32px;
        margin-top: -15px;
    }
    @media (max-width: 370px) { 
        font-size: 25px;
    }
}

.my-skills-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    
    padding: 10px;
    
    @media (max-width: 370px) { 
        padding: 0;
    }
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 90px;

    @media (max-width: 1200px) { 
        margin: 25px;
    }

    &:hover {
        color: #00BC8F;
        cursor: default;
        transition: 0.2s ease-in-out;
    }

    img {

        position: relative;
    display: inline-block;
        &:hover {
            transform: translateY(-25px);
        }

        @media (max-width: 630px) { 
            width: 50px;
            text-align: center;
        }
    }

    span {
        margin-top: 10px;
        font-weight: 700;
        font-family: "Overpass", sans-serif;
    }
}

.arrow-right {
    padding: 0px 0px 0px 400px;
    margin-top: 50px;

    @media (max-width: 1100px) { 
        padding: 0px 0px 0px 300px;
    }

    @media (max-width: 700px) { 
        padding: 0px 0px 0px 20px;
    }
}